torch==2.10.0
vision==0.25.0
transformers==4.57.6
datasets==4.3.0
accelerate>=0.34.0
peft==0.18.1
bitsandbytes>=0.44.0
scikit-learn
matplotlib
lime
tqdm
shap
unsloth==2026.1.4
trl==0.24.0
numpy==1.26.4
scipy
h5py
fsspec==2025.9.0
xformers==0.0.34
rich
tyro
torchao==0.15.0
