name: Quality Checks

on:
  push:
    branches: [main]
  pull_request:

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - uses: pre-commit/action@v3.0.1
    - run: pip install flake8==7.3.0
    - run: flake8 .
